<html>
    <head>
    </head>

    <body>
        <!-- default view is topical. can be changed to chronological if desired -->

        <nav>
            <ul>
                <li class='category-nav'> essays </li>
                <li class='category-nav'> prototypes </li>
                <li class='category-nav'> workflow </li>
                <li class='category-nav'> cv </li>
                <li class='category-nav'> status </li>
                <li class='category-nav'> stream </li>
            </ul>
        </nav>

        <h1>something done right</h1>

        <h3>aspirational invisible machines</h3>

        <main>
            <!-- what's a template for this? -->
            <!-- just a list of posts for now -->
            <h2> Essays </h2>
            <ul>
                {% for post in site.posts %}
                <li><a href="{{ post.url }}"> {{ post.title }} </a></li>
                {% endfor %}
            </ul>
        </main>

        <!-- what attributes does a post have? -->
        <!-- optional title (linked to content), date (no timestamp), body -->
    </body>
</html>
